<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<!-- Footer : tagline -->
<div th:fragment="footer-tagline">
    <div class="container-fluid">
        <div class="footer-template">
            <span th:text="'prototype International Securities Group Limited - ' + ${F_COMPONENT_NAME}"></span>
        </div>
    </div>
</div>

<!-- Footer : scripts -->
<div th:fragment="footer-scripts">
    <div class="se-pre-con"></div>
    <script type="text/javascript" th:src="@{/public/jquery/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/bootstrap/3.3.7/js/bootstrap-dialog.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/bootstrap-table/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/lightbox2/js/lightbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/public/custom/js/webapp.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {

            // ----------------
            // Bootstrap Modals
            // ----------------
            // Open : Logout modal
            function openLogoutModel() {
                console.log("#modal-logout -> modal()");
                $("#modal-logout").modal();
            }

            // --------------
            // Button actions
            // --------------
            // Login button
            $('#btn-navbar-login').click(function () {
                event.preventDefault();
                window.location =
                /*[[@{/console/login}]]*/
            })

            // Logout button (nav-bar)
            $("#btn-navbar-logout").click(function (event) {
                console.log("#btn-navbar-logout -> click:" + event);
                event.preventDefault();
                openLogoutModel();
            })

            // Logout button (logout modal)
            $("#btn-logoutmodal-yes").click(function (event) {
                console.log("#btn-logoutmodal-yes -> click:" + event);
                event.preventDefault();
                var endpoint = /*[[@{/console/logout}]]*/;
                $("#form-navbar-logout").submit();
            })

        })


        /*]]>*/
    </script>

</div>

</body>
</html>
